<div class="footer-container">
    <div class="horizontal-bar">
    </div>
    <footer>
        <div class="copywirght-container">
            <p>©2022 Franco Osores</p>
        </div>
        <div class="sitemap-container">
            <a class="navbar-link" (click)="scrollTo('skills')">Skills</a>
            <a class="navbar-link" (click)="scrollTo('education')">Education</a>
            <a class="navbar-link" (click)="scrollTo('projects')">Projects</a>
        </div>
        <div class="icon-container">
            <a href="https://dribbble.com/filburt88" target="_blank">
                <img src="../../../assets/icons/dribble.svg" alt="Dribble link" />
            </a>
            <a href="https://www.linkedin.com/in/franco-osores/" target="_blank">
                <img src="../../../assets/icons/linkedin.svg" alt="linkedin link" />
            </a>
            <a href="https://github.com/filburt88" target="_blank">
                <img src="../../../assets/icons/github.svg" alt="github link" />
            </a>
        </div>
    </footer>
</div>