<h4 class="section-title" id="projects">projects</h4>
<p class="section-subtitle">My skills in practice</p>

<section>
  <div class="project-container">
    <div class="text-container">
      <h3>A la Carta</h3>
      <div class="spacer"></div>
      <p>
        Technical screening for Alkemy Acceleration.<br />
        A la carta is a virtual menu built in Angular.
      </p>
    </div>
    <div class="img-container">
      <img class="project-img" src="../../../assets/img/Alacarta.png" alt="A la carta app" />
    </div>
  </div>

  <div class="project-container pokeapp">
    <div class="text-container">
      <h3>Pokemon App</h3>
      <div class="spacer"></div>
      <p>
        Pokemon App, it's a pokedex like app<br />
        Built in Angular, with API requests, SweetAlert and exchange of data through services.
      </p>
    </div>
    <div class="img-container">
      <img class="project-img" src="../../../assets/img/Pokemon.png" alt="pokemon app" />
    </div>
  </div>

  <div class="project-container todo">
    <div class="text-container">
      <h3>React To-Do</h3>
      <div class="spacer"></div>
      <p>
        Simple To Do App<br />
        Built in React for practicing purposses.
      </p>
    </div>
    <div class="img-container">
      <img class="project-img" src="../../../assets/img/todo.png" alt="todo app" />
    </div>
  </div>
</section>
