<h4 class="section-title" id="projects">projects</h4>
<p class="section-subtitle">My skills in practice</p>

<section>
  <div class="project-container">
    <div class="text-container">
      <h3>A la Carta</h3>
      <div class="spacer"></div>
      <p>
        Technical screening for Alkemy Acceleration.<br />
        A la carta is a virtual menu built in Angular.
      </p>
      <div class="project-link-container">
        <a href="https://friendly-cannoli-dbc00f.netlify.app/" target="_blank">
        <p class="project-links">
          Live demo
        </p>
      </a>
      <a href="https://github.com/filburt88/a-la-carta" target="_blank">
        <p class="project-links">
          GitHub Repository
        </p>
      </a>
    </div>
    </div>
    <div class="img-container">
      <img class="project-img" src="../../../assets/img/Alacarta.png" alt="A la carta app" />
    </div>
  </div>

  <div class="project-container pokeapp">
    <div class="text-container">
      <h3>Pokemon App</h3>
      <div class="spacer"></div>
      <p>
        Pokemon App Built in Angular,<br> with API requests and exchange of data<br> through services.
      </p>
      <div class="project-link-container">
        <a href="https://grand-panda-d8509e.netlify.app/" target="_blank">
        <p class="project-links">
          Live demo
        </p>
      </a>
      <a href="https://github.com/filburt88/pokeapp" target="_blank">
        <p class="project-links">
          GitHub Repository
        </p>
      </a>
    </div>
    </div>
    <div class="img-container">
      <img class="project-img" src="../../../assets/img/Pokemon.png" alt="pokemon app" />
    </div>
  </div>

  <div class="project-container todo">
    <div class="text-container">
      <h3>React To-Do</h3>
      <div class="spacer"></div>
      <p>
        Simple To Do App<br />
        Built in React for practicing purposses.
      </p>
      <div class="project-link-container">
        <a href="https://nifty-almeida-7d7157.netlify.app/" target="_blank">
        <p class="project-links">
          Live demo
        </p>
      </a>
      <a href="https://github.com/filburt88/todo-react-app" target="_blank">
        <p class="project-links">
          GitHub Repository
        </p>
      </a>
    </div>
    </div>
    <div class="img-container">
      <img class="project-img" src="../../../assets/img/todo.png" alt="todo app" />
    </div>
  </div>
</section>
