<app-navbar></app-navbar>

<div class="section" data-aos="fade-up" data-aos-duration="1000">
  <app-hero></app-hero>
</div>

<div class="section" data-aos="fade-up" data-aos-duration="1000">
  <app-skills></app-skills>
</div>

<div class="section" data-aos="fade-up" data-aos-duration="1000">
  <app-education></app-education>
</div>

<div class="section" data-aos="fade-up" data-aos-duration="1000">
  <app-projects></app-projects>
</div>

<div class="section footer-main" data-aos="fade-up" data-aos-duration="1000">
  <app-contact-form></app-contact-form>
  <app-footer></app-footer>
</div>
