<h4 class="section-title" id="education">Education</h4>
<p class="section-subtitle">
  Always looking for opportunities to learn something new
</p>

<section class="container">
  <div class="education-section">
    <div class="education-card">
      <img
        class="education-img"
        src="../../../assets/img/education logos/teclab.png"
        alt="logo"
      />
      <h3>
        Software Developer <br />
        technician
      </h3>
      <h4 class="institution">Teclab Technical Institute</h4>
      <h5 class="year">2020 - 2022</h5>
    </div>

    <a href="https://www.credly.com/badges/ceccfa4a-a030-40d5-a8b3-4aec20a06caa" target="_blank">
    <div class="education-card">
      <img
        class="education-img"
        src="../../../assets/img/education logos/Mindhub.png"
        alt="logo"
      />
      <h3>Angular Developer</h3>
      <h4 class="institution">CompraGamer<br />Mindhub BootCamp</h4>
      <h5 class="year">2021 - 2021</h5>
    </div>
    </a>  

    <a href="https://www.freecodecamp.org/certification/fcc00390b90-9840-4e05-b889-4552e1af1f7d/responsive-web-design" target="_blank">
    <div class="education-card">
      <img
        class="education-img"
        src="../../../assets/img/education logos/freecodecamp.png"
        alt="logo"
      />
      <h3>Responsive Web Design</h3>
      <h4 class="institution">FreeCodeCamp Platform</h4>
      <h5 class="year">2021 - 2021</h5>
    </div>
  </a>

  <a href="https://drive.google.com/file/d/1dIiAi3RGM_adC-7X0U3Bfvv5-5ZzJjmY/view?usp=sharing" target="_blank">
    <div class="education-card">
      <img
        class="education-img"
        src="../../../assets/img/education logos/codigofacilito.png"
        alt="logo"
      />
      <h3>Professional Javascript</h3>
      <h4 class="institution">CodigoFacilito Platform</h4>
      <h5 class="year">2021 - 2021</h5>
    </div>
  </a>
  </div>

  <div class="education-text-section">
    <div class="text-container">
    <h2>Currently Studying</h2>
    <p>I'm always looking to expand my knowledge in different areas. As a developer, I'am continuously learning and I'm always eager to obtain new skills!</p>
    <ul>
      <li>Google UX/UI Design - <span>Coursera</span></li>
      <li>UX/UI Academy - <span>Coursera</span></li>
      <li>FullStack Web Developer - <span>Oracle One</span></li>
      <li>Data Analisis & AI - <span>ISPC Institute</span></li>
    </ul>
  </div>
  </div>
</section>
