<h4 class="section-title" id="skills">Skills</h4>
<p class="section-subtitle">What can I bring to your team</p>
<section class="cards-container">
  <div class="skill-card">
    <div class="card-img-container">
      <img class="card-img" src="../../../assets/icons/creativity.svg" />
    </div>
    <div class="card-title-container">
      <h3 class="card-title">Creativity</h3>
    </div>
    <div class="card-text-container">
      <p class="card-text">
        I like to inspire myself following and exploring work from people all
        Around the world. Always looking to innovate and create solutions for all
        Kind of fields.
      </p>
    </div>
  </div>

  <div class="skill-card">
    <div class="card-img-container" id="design">
      <img class="card-img" src="../../../assets/icons/design.svg" />
    </div>
    <div class="card-title-container">
      <h3 class="card-title">Design</h3>
    </div>
    <div class="card-text-container">
      <p class="card-text">
        I have knowledge in different design tools such as, Photoshop, Illustrator, After Effects, Corel Draw, Figma, etc.
      </p>
    </div>
  </div>

  <div class="skill-card">
    <div class="card-img-container" id="web">
      <img class="card-img" src="../../../assets/icons/web-development.svg" />
    </div>
    <div class="card-title-container">
      <h3 class="card-title">Web Development</h3>
    </div>
    <div class="card-text-container">
      <p class="card-text">
        Always practicing and improving my skills in web development, but also studying UX/UI to be a more complete professional.
      </p>
    </div>
  </div>

  <div class="skill-card">
    <div class="card-img-container" id="react">
      <img class="card-img" src="../../../assets/icons/react.svg" />
    </div>
    <div class="card-title-container">
      <h3 class="card-title">Frameworks</h3>
    </div>
    <div class="card-text-container">
      <p class="card-text">
        I actually use two main frameworks, React and Angular, actually this site has been built from scratch using Angular!
      </p>
    </div>
  </div>

  <div class="skill-card">
    <div class="card-img-container" id="typescript">
      <img class="card-img" src="../../../assets/icons/typescript.svg" />
    </div>
    <div class="card-title-container">
      <h3 class="card-title">Typescript</h3>
    </div>
    <div class="card-text-container">
      <p class="card-text">
        Getting used to this super set of javascript was a hard work, but the more I use it, the more I'm convinced that this is a very useful language for medium and big projects.
      </p>
    </div>
  </div>

  <div class="skill-card">
    <div class="card-img-container" id="javascript">
      <img class="card-img" src="../../../assets/icons/javascript.svg" />
    </div>
    <div class="card-title-container">
      <h3 class="card-title">Javascript</h3>
    </div>
    <div class="card-text-container">
      <p class="card-text">
        It's great to have skill in Javascript. This a very versatile language and it's used widely not only in the web, but also in mobile apps, and that's my next objective!
      </p>
    </div>
  </div>
</section>
